.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-wrapper {
  width: 100%;
  max-width: 969px;
}

.dish-badge-and-cook-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  margin-bottom: 55px;
}

.cook-info {
  width: 100%;
  max-width: 580px;

  display: flex;
  flex-direction: column;

  gap: 28px;
}

.note {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: var(--title-fs-smaller);
  line-height: 150%;

  color: var(--color-light-gray);

  margin-bottom: 93px;
}

@media (max-width: 1024px) {
  .content-wrapper {
    width: 100%;
    max-width: calc(100% - 80px);
  }
}

@media (max-width: 900px) {
  .dish-badge-and-cook-info {
    flex-direction: column;
    
    gap: 30px;
  }
}

@media (max-width: 475px) {
  .content-wrapper {
    max-width: calc(100% - 24px);
  }
  .dish-badge-and-cook-info {
    flex-direction: column;
    
    gap: 30px;
  }
  .dish-badge-and-cook-info {
    margin-bottom: 26px;
  }
  .note {
    font-size: 12px;

    margin-bottom: 129px;
  }
}